@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "variables/global.css";
@import "reset.css";

.content {
    font-size: var(--font-m);
    background: var(--bg-color);
    padding: 30px 40px;
    min-height: 100vh;
}

@media screen and (max-width: 580px) {
    .content {
      padding: 30px;
    }
}

@media screen and (max-width: 420px) {
  .content {
    padding: 20px;
  }
}